/* ABC regular */
@font-face {
  font-family: "ABC Sans";
  font-style: normal;
  font-weight: 400;
  src: local("ABC Sans"), local("ABC-regular"),
       url("../fonts/abcsans-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
:root {
  font-size: 1em;
  font-family: "ABC Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#map, #svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#label {
  background-color: rgba(11, 11, 11, .4);
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: .75rem;
  position: absolute;
  pointer-events: none;
  left: 10px;
  bottom: 10px;
}
.fire {
  fill: rgba(255, 97, 0, .5);
  stroke: black;
  stroke-width: 2;
}
.fire:hover {
  fill: rgba(255, 97, 0, 1);
}
#tip {
  background-color: rgba(11, 11, 11, .8);
  box-shadow: 2px 2px 5x rgb(11, 11, 11);
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: .75rem;
  position: absolute;
  display: none;
}
